<a href="https://colab.research.google.com/github/lauracristinagil/inmersion_datos_alura/blob/main/INMERSION_DATOS_AULA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/inmersion_datos/inmuebles_bogota.csv') 
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [ ]:
inmuebles.shape

(9520, 8)

In [ ]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [ ]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
2435,Local,Local en venta en Marly,11,9,486,Marly,CHAPINERO: Pardo Rubio + Chapinero,$ 3.300.000.000
6925,Casa,Casa en venta en Usaquén,4,3,250,Usaquén,Usaquén,$ 920.000.000
7431,Apartamento,Apartamento en venta en Bosa,2,1,43,Bosa,Bosa Central,$ 119.000.000
7489,Casa,Casa en venta en Puente Aranda,10,6,420,Puente Aranda,PUENTE ARANDA: Zona Industrial + Puente Aranda,$ 1.400.000.000
3749,Apartamento,Apartamento en venta en Fontibón,2,1,56,Fontibón,Fontibón,$ 217.000.000
5624,Apartamento,Apartamento en venta en Los Rosales,3,3,125,Los Rosales,CHAPINERO: Chicó Lago + El Refugio,$ 900.000.000
5215,Apartamento,Apartamento en venta en Barrios Unidos,2,2,83,Barrios Unidos,Los Andes,$ 560.000.000
1312,Casa,Casa en venta en Kennedy,3,2,67,Kennedy,Kennedy Central,$ 385.000.000
2727,Edificio,Edificio en venta en Barrios Unidos,8,4,253,Barrios Unidos,Los Andes,$ 700.000.000
4891,Apartamento,Apartamento en venta en El Chicó,3,5,277,El Chicó,CHAPINERO: Chicó Lago + El Refugio,$ 2.500.000.000

In [6]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB